<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <title>Edit Alert</title>
    <link th:replace="/fragments/style"/>
</head>
<body>

<div th:replace="/fragments/sidebar"></div>

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-11">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit Alert</h3>
                    </div>
                    <div class="panel-body">
                        <form th:object="${editAlert}" th:action="@{/alert/update/{id}(id=${editAlert.getId()})}"
                              action="#" method="post">

                            <label for="name">Alert Name:</label>
                            <input id="name" type="text" th:field="*{name}" class="form-control" th:value="*{name}"/>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger alert-dismissible"
                                 role="alert">
                                <div th:errors="*{name}">Name Error</div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>

                            <label for="email">E-mail:</label>
                            <input id="email" type="text" th:field="*{email}" class="form-control" th:value="*{email}"/>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <div th:if="${#fields.hasErrors('email')}" class="alert alert-danger alert-dismissible"
                                 role="alert">
                                <div th:errors="*{email}">Email Error</div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>

                            <label for="source">Source:</label>
                            <select id="source" th:field="*{source}" class="form-control">
                                <option th:each="source : ${allSources}" th:value="${source.getId()}"
                                        th:text="${source.getName()}">Source Name
                                </option>
                            </select>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <div th:if="${#fields.hasErrors('source')}" class="alert alert-danger alert-dismissible"
                                 role="alert">
                                <div th:errors="*{source}">Source Error</div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>

                            <label for="level">Level:</label>
                            <select id="level" th:field="*{level}" class="form-control">
                                <option th:each="level : ${levels}" th:value="${level.toString()}"
                                        th:text="${level.toString()}">Level Name
                                </option>
                            </select>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <div th:if="${#fields.hasErrors('level')}" class="alert alert-danger alert-dismissible"
                                 role="alert">
                                <div th:errors="*{level}">Level Error</div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>

                            <label for="pattern">Pattern:</label>
                            <input id="pattern" type="text" th:field="*{pattern}" class="form-control"
                                   th:value="Pattern"/>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <div th:if="${#fields.hasErrors('pattern')}" class="alert alert-danger alert-dismissible"
                                 role="alert">
                                <div th:errors="*{pattern}">Patter Error</div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>

                            <label for="topic">Topic:</label>
                            <input id="topic" type="text" th:field="*{topic}" class="form-control" th:value="*{topic}"/>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <div th:if="${#fields.hasErrors('topic')}" class="alert alert-danger alert-dismissible"
                                 role="alert">
                                <div th:errors="*{topic}">Topic Error</div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>


                            <label for="body">Body:</label>
                            <textarea id="body" th:field="*{template}" class="form-control"
                                      th:value="*{template}"></textarea>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <div th:if="${#fields.hasErrors('topic')}" class="alert alert-danger alert-dismissible"
                                 role="alert">
                                <div th:errors="*{topic}">Topic Error</div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>

                            <a th:href="@{/alerts}" class="btn btn-danger pull-left">Cancel</a> &nbsp; &nbsp;
                            <input type="submit" class="btn btn-success pull-right" value="Save"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>