<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Alerts</title>
    <link th:replace="/fragments/style"/>

</head>
<body>

<div th:replace="/fragments/sidebar"></div>

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-11">

                <div class="row" style="margin-bottom:50px;">
                    <div class="col-md-offset-1 col-md-11">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Alerts by source</h3>
                            </div>
                            <div class="panel-body">
                                <a th:href="@{/alert/create/{source}(source=${source})}" class="btn btn-success" role="button">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    &nbsp; Create new alert
                                </a>

                                <div style="clear:both; display:block;height:10px;"></div>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="btn-success">
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Source</th>
                                        <th>E-mail</th>
                                        <th>Level</th>
                                        <th>Pattern</th>
                                        <th>Topic</th>
                                        <th>Template</th>
                                        <th class="btn-primary">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${#lists.isEmpty(allAlertForSource)}" class="btn-warning">
                                        <td colspan="9" align="center">No Alerts created yet</td>
                                    </tr>
                                    <tr th:each="alert : ${allAlertForSource}">
                                        <td th:text="${alert.id}"></td>
                                        <td th:text="${alert.name}"></td>
                                        <td th:text="${alert.source.getName()}"></td>
                                        <td th:text="${alert.email}"></td>
                                        <td th:text="${alert.level}"></td>
                                        <td th:text="${alert.pattern}"></td>
                                        <td th:text="${alert.topic}"></td>
                                        <td th:text="${alert.template}"></td>
                                        <td align="center">
                                            <a th:href="@{/alert/edit/{id}(id=${alert.id})}"><span
                                                    class="glyphicon glyphicon-edit"></span></a> &nbsp; &nbsp;
                                            <a th:href="@{/alert/delete/{id}(id=${alert.id})}"><span
                                                    class="glyphicon glyphicon-trash"></span></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a th:href="@{/alerts}" class="btn btn-primary pull-left">Back</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>