<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<!-- Bootstrap Core CSS -->
<link
        th:href="@{/resources/static/bower_components/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"
        media="screen" xmlns:th="http://www.thymeleaf.org"/>

<!-- MetisMenu CSS -->
<link
        th:href="@{/resources/static/bower_components/metisMenu/dist/metisMenu.min.css}" rel="stylesheet" media="screen"
        xmlns:th="http://www.thymeleaf.org"/>

<!-- Custom CSS -->
<link
        th:href="@{/resources/static/dist/css/sb-admin-2.css}" rel="stylesheet" media="screen"
        xmlns:th="http://www.thymeleaf.org"/>

<!-- Custom Fonts -->
<link
        th:href="@{/resources/static/bower_components/font-awesome/css/font-awesome.min.css}" rel="stylesheet"
        type="text/css"
        media="screen" xmlns:th="http://www.thymeleaf.org"/>

<script th:src="@{/resources/static/bower_components/jquery/dist/jquery.min.js}" xmlns:th="http://www.thymeleaf.org"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/resources/static/bower_components/bootstrap/dist/js/bootstrap.min.js}" xmlns:th="http://www.thymeleaf.org"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/resources/static/bower_components/metisMenu/dist/metisMenu.min.js}" xmlns:th="http://www.thymeleaf.org"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/resources/static/dist/js/sb-admin-2.js}" xmlns:th="http://www.thymeleaf.org"></script>
