<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <title>Create new Script</title>
    <link th:replace="/fragments/style"/>

</head>
<body>

<div th:replace="/fragments/sidebar"></div>

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-11">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create Script</h3>
                    </div>
                    <div class="panel-body">
                        <form th:object="${script}" th:action="@{/script/create}" action="#" method="post">
                            <label for="name">Script Name:</label>
                            <input id="name" type="text" th:field="*{name}" class="form-control" placeholder="Name"/>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger alert-dismissible"
                                 role="alert">
                                <div th:errors="*{name}">Name Error</div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>

                            <label for="source">Source:</label>
                            <select id="source" th:field="*{source}" class="form-control">
                                <option th:each="source : ${sources}" th:value="${source.getId()}"
                                        th:text="${source.getName()}">Source
                                </option>
                            </select>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <div th:if="${#fields.hasErrors('source')}" class="alert alert-danger alert-dismissible"
                                 role="alert">
                                <div th:errors="*{source}">Source Error</div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>

                            <label for="level">Level:</label>
                            <select id="level" th:field="*{level}" class="form-control">
                                <option th:each="level : ${levels}" th:value="${level.toString()}"
                                        th:text="${level.toString()}">Level Name
                                </option>
                            </select>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <div th:if="${#fields.hasErrors('level')}" class="alert alert-danger alert-dismissible"
                                 role="alert">
                                <div th:errors="*{level}">Level Error</div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>

                            <label for="path">Path:</label>
                            <input id="path" type="text" th:field="*{path}" class="form-control" placeholder="Path"/>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <div th:if="${#fields.hasErrors('path')}" class="alert alert-danger alert-dismissible"
                                 role="alert">
                                <div th:errors="*{path}">Path Error</div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>

                            <label for="pattern">Pattern:</label>
                            <input id="pattern" type="pattern" th:field="*{pattern}" class="form-control"
                                   placeholder="Pattern"/>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <div th:if="${#fields.hasErrors('pattern')}" class="alert alert-danger alert-dismissible"
                                 role="alert">
                                <div th:errors="*{pattern}">Patter Error</div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>

                            <a th:href="@{/scripts}" class="btn btn-danger pull-left">Cancel</a>
                            <input type="submit" class="btn btn-success pull-right" value="Save"/>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>