<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Scripts</title>
    <link th:replace="/fragments/style"/>

</head>
<body>

<div th:replace="/fragments/sidebar"></div>

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-11">

                <div class="row" style="margin-bottom:50px;">
                    <div class="col-md-offset-1 col-md-11">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">All Scripts</h3>
                            </div>
                            <div class="panel-body">
                                <!-- Messages -->
                                <div>
                                    <div th:if="${editScript eq 'fail'}">
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <strong>Error!</strong> Script Data Not Updated.
                                        </div>
                                    </div>
                                    <div th:if="${editScript eq 'success'}">
                                        <div class="alert alert-success alert-dismissible" role="alert">
                                            <strong>Success!</strong> Script Data Updated Successfully.
                                        </div>
                                    </div>

                                    <div th:if="${createScript eq 'fail'}">
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <strong>Error!</strong> Script Not Created.
                                        </div>
                                    </div>
                                    <div th:if="${createScript eq 'success'}">
                                        <div class="alert alert-success alert-dismissible" role="alert">
                                            <strong>Success!</strong> Script Created Successfully.
                                        </div>
                                    </div>

                                    <div th:if="${deleteScript eq 'fail'}">
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <strong>Error!</strong> Script Not Deleted.
                                        </div>
                                    </div>
                                    <div th:if="${deleteScript eq 'success'}">
                                        <div class="alert alert-success alert-dismissible" role="alert">
                                            <strong>Success!</strong> Script Deleted Successfully.
                                        </div>
                                    </div>
                                </div>
                                <!-- END -->

                                <a th:href="@{/script/create}" class="btn btn-success" role="button">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    &nbsp; Create new script
                                </a>
                                <div style="clear:both; display:block;height:10px;"></div>

                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">View by Source</h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr class="btn-success">
                                                <th>Id</th>
                                                <th>Name</th>
                                                <th class="btn-primary">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:if="${#lists.isEmpty(allSources)}" class="btn-warning">
                                                <td colspan="3" align="center">No Sources created yet</td>
                                            </tr>
                                            <tr th:each="source : ${allSources}">
                                                <td th:text="${source.id}"></td>
                                                <td th:text="${source.name}"></td>
                                                <td align="center">
                                                    <a th:href="@{/script/{sourceId}/display(sourceId=${source.id})}"><span
                                                            class="glyphicon glyphicon-console"></span>View Scripts</a>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Scripts</h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr class="btn-success">
                                                <th>Id</th>
                                                <th>Name</th>
                                                <th>Source</th>
                                                <th>Level</th>
                                                <th>Path</th>
                                                <th>Pattern</th>
                                                <th class="btn-primary">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:if="${#lists.isEmpty(allScripts)}" class="btn-warning">
                                                <td colspan="7" align="center">No Scripts created yet</td>
                                            </tr>
                                            <tr th:each="script : ${allScripts}">
                                                <td th:text="${script.id}"></td>
                                                <td th:text="${script.name}"></td>
                                                <td th:text="${script.source.getName()}"></td>
                                                <td th:text="${script.level}"></td>
                                                <td th:text="${script.path}"></td>
                                                <td th:text="${script.pattern}"></td>
                                                <td align="center">
                                                    <a th:href="@{/script/edit/{id}(id=${script.id})}"><span
                                                            class="glyphicon glyphicon-edit"></span></a> &nbsp; &nbsp;
                                                    <a th:href="@{/script/delete/{id}(id=${script.id})}"><span
                                                            class="glyphicon glyphicon-trash"></span></a>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>