<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <title>Create new Source</title>
    <link th:replace="/fragments/style"/>

</head>
<body>

<div th:replace="/fragments/sidebar"></div>

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-11">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create Source</h3>
                    </div>
                    <div class="panel-body">
                        <form th:object="${source}" th:action="@{/source/create}" action="#" method="post">
                            <label for="name">Source Name:</label>
                            <input id="name" type="text" th:field="*{name}" class="form-control" placeholder="Name"/>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger alert-dismissible"
                                 role="alert">
                                <div th:errors="*{name}">Name Error</div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>

                            <label for="ip">IP:</label>
                            <input id="ip" type="text" th:field="*{ip}" class="form-control" placeholder="ip"/>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <div th:if="${#fields.hasErrors('ip')}" class="alert alert-danger alert-dismissible"
                                 role="alert">
                                <div th:errors="*{ip}">IP Error</div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>

                            <label for="login">Login:</label>
                            <input id="login" type="text" th:field="*{login}" class="form-control" placeholder="Login"/>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <div th:if="${#fields.hasErrors('login')}" class="alert alert-danger alert-dismissible"
                                 role="alert">
                                <div th:errors="*{login}">Login Error</div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>

                            <label for="password">Password:</label>
                            <input id="password" type="password" th:field="*{password}" class="form-control"
                                   placeholder="Password"/>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <div th:if="${#fields.hasErrors('password')}" class="alert alert-danger alert-dismissible"
                                 role="alert">
                                <div th:errors="*{password}">Password Error</div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>

                            <a th:href="@{/sources}" class="btn btn-danger pull-left">Cancel</a>
                            <input type="submit" class="btn btn-success pull-right" value="Save"/>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>