<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Sources</title>
    <link th:replace="/fragments/style"/>

</head>
<body>

<div th:replace="/fragments/sidebar"></div>

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-11">
                <div class="row" style="margin-bottom:50px;">
                    <div class="col-md-offset-1 col-md-11">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">All Sources</h3>
                            </div>
                            <div class="panel-body">
                                <!-- Messages -->
                                <div>
                                    <div th:if="${editSource eq 'fail'}">
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <strong>Error!</strong> Source Data Not Updated.
                                        </div>
                                    </div>
                                    <div th:if="${editSource eq 'success'}">
                                        <div class="alert alert-success alert-dismissible" role="alert">
                                            <strong>Success!</strong> Source Data Updated Successfully.
                                        </div>
                                    </div>

                                    <div th:if="${createSource eq 'fail'}">
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <strong>Error!</strong> Source Not Created.
                                        </div>
                                    </div>
                                    <div th:if="${createSource eq 'success'}">
                                        <div class="alert alert-success alert-dismissible" role="alert">
                                            <strong>Success!</strong> Source Created Successfully.
                                        </div>
                                    </div>

                                    <div th:if="${deleteSource eq 'fail'}">
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <strong>Error!</strong> Source Not Deleted.
                                        </div>
                                    </div>
                                    <div th:if="${deleteSource eq 'success'}">
                                        <div class="alert alert-success alert-dismissible" role="alert">
                                            <strong>Success!</strong> Source Deleted Successfully.
                                        </div>
                                    </div>
                                </div>
                                <!-- END -->

                                <a th:href="@{/source/create}" class="btn btn-success" role="button">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    &nbsp; Create new source
                                </a>

                                <div style="clear:both; display:block;height:10px;"></div>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="btn-success">
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Ip Address</th>
                                        <th>Login</th>
                                        <th class="btn-primary">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${#lists.isEmpty(allSources)}" class="btn-warning">
                                        <td colspan="5" align="center">No Sources created yet</td>
                                    </tr>
                                    <tr th:each="source : ${allSources}">
                                        <td th:text="${source.id}"></td>
                                        <td th:text="${source.name}"></td>
                                        <td th:text="${source.ip}"></td>
                                        <td th:text="${source.login}"></td>
                                        <td align="center">
                                            <a th:href="@{/source/edit/{id}(id=${source.id})}"><span
                                                    class="glyphicon glyphicon-edit"></span></a> &nbsp; &nbsp;
                                            <a th:href="@{/source/delete/{id}(id=${source.id})}"><span
                                                    class="glyphicon glyphicon-trash"></span></a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>