<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>

        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content=""></meta>
        <meta name="author" content=""></meta>

        <title>Create new Group</title>
        <link th:replace="/fragments/style"/>

    </head>
<body>
          
    <div th:replace="/fragments/sidebar"></div>

	<div layout:fragment="content">
	   <div class="container">
		   <div class="row">
		      <div class="col-md-offset-1 col-md-11">
		           
		          <div class="panel panel-success">
					  <div class="panel-heading">
						  <h3 class="panel-title">Create Group</h3>
					  </div>
					     <div class="panel-body">
					       <form th:object="${group}" th:action="@{/group/create}" action="#" method="post">
                             <label for="name">Group Name:</label>
					         <input id="name" type="text" th:field="*{name}" class="form-control" placeholder="Name"/>
					         <div style="clear:both; display:block;height:10px;"></div>
							   <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger alert-dismissible"
									role="alert">
								   <div th:errors="*{name}">Name Error</div>
							   </div>
							   <div style="clear:both; display:block;height:10px;"></div>

							   <div>
								   <label>Sources:</label>
								   <ul>
									   <li th:each="source : ${allSources}">
										   <label th:text="${source.getName()}">Source</label>
										   <input type="checkbox" th:field="*{sources}" th:value="${source.getId()}" />
									   </li>
									   <li th:remove="all">
										   <input id="removed1" type="checkbox" /> <label for="removed1">Turf</label>
									   </li>
								   </ul>
								   <div th:if="${#fields.hasErrors('sources')}" class="alert alert-danger alert-dismissible"
										role="alert">
									   <div th:errors="*{sources}">Source Error</div>
								   </div>
								   <div style="clear:both; display:block;height:10px;"></div>
							   </div>
					         <div style="clear:both; display:block;height:10px;"></div>
                             <a th:href="@{/groups}" class="btn btn-danger pull-left">Cancel</a>
					         <input type="submit" class="btn btn-success pull-right" value="Save"/>
					       </form>
					      </div>
					       
					 	</div>
		      </div>
		   </div>
		
		</div>
	
	</div>
</body>
</html>