<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Groups</title>
    <link th:replace="/fragments/style"/>

</head>
<body>

<div th:replace="/fragments/sidebar"></div>

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-11">

                <div th:if="${saveGroup eq 'unsuccess'}">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <strong>Error!</strong> Group Data Not Updated.
                    </div>
                </div>
                <div th:if="${saveGroup eq 'success'}">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <strong>Success!</strong> Group Data Updated Successfully.
                    </div>
                </div>

                <div class="row" style="margin-bottom:50px;">
                    <div class="col-md-offset-1 col-md-11">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">All Groups</h3>
                            </div>
                            <div class="panel-body">

                                <!-- Messages -->

                                <div th:if="${editGroup eq 'fail'}">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <strong>Error!</strong> Group Data Not Updated.
                                    </div>
                                </div>
                                <div th:if="${editGroup eq 'success'}">
                                    <div class="alert alert-success alert-dismissible" role="alert">
                                        <strong>Success!</strong> Group Data Updated Successfully.
                                    </div>
                                </div>

                                <div th:if="${createGroup eq 'fail'}">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <strong>Error!</strong> Group Not Created.
                                    </div>
                                </div>
                                <div th:if="${createGroup eq 'success'}">
                                    <div class="alert alert-success alert-dismissible" role="alert">
                                        <strong>Success!</strong> Group Created Successfully.
                                    </div>
                                </div>

                                <div th:if="${deleteGroup eq 'fail'}">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <strong>Error!</strong> Group Not Deleted.
                                    </div>
                                </div>
                                <div th:if="${deleteGroup eq 'success'}">
                                    <div class="alert alert-success alert-dismissible" role="alert">
                                        <strong>Success!</strong> Group Deleted Successfully.
                                    </div>
                                </div>

                                <!-- END -->
                                
                                <a th:href="@{/group/create}" class="btn btn-success" role="button">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    &nbsp; Create new group
                                </a>

                                <div style="clear:both; display:block;height:10px;"></div>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="btn-success">
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>User</th>
                                        <th>Sources</th>
                                        <th class="btn-primary">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${#lists.isEmpty(allGroups)}" class="btn-warning">
                                        <td colspan="5" align="center">No Groups created yet</td>
                                    </tr>
                                    <tr th:each="group : ${allGroups}">
                                        <td th:text="${group.id}"></td>
                                        <td th:text="${group.name}"></td>
                                        <td th:text="${group.user.getLogin()}"></td>
                                        <td>
                                            <ul>
                                                <li th:each="source : ${group.getSources()}">
                                                    <div th:text="${source.getName()}">Source</div>
                                                </li>
                                            </ul>
                                        </td>
                                        <td align="center">
                                            <a th:href="@{/group/edit/{id}(id=${group.id})}"><span
                                                    class="glyphicon glyphicon-edit"></span></a> &nbsp; &nbsp;
                                            <a th:href="@{/group/delete/{id}(id=${group.id})}"><span
                                                    class="glyphicon glyphicon-trash"></span></a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>