<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link th:replace="/fragments/style"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <div th:if="${param.error}">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <strong>Error!</strong> Invalid username or password.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info alert-dismissible" role="alert">
                            You have been logged out.
                        </div>
                    </div>
                    <form th:action="@{/login}" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Login" name="username" type="text"
                                       autofocus="true"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password"
                                       value=""/>
                            </div>
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In"/>
                        </fieldset>
                        <div style="clear:both; display:block;height:10px;"></div>
                        <a th:href="@{/register}" class="btn btn-lg btn-primary btn-block" role="button">Register</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>