<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <title>Register</title>
    <link th:replace="/fragments/style"/>

</head>
<body>

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-11">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Register new User</h3>
                    </div>
                    <div class="panel-body">
                        <form th:object="${user}" th:action="@{/register}" action="#" method="post">
                            <label for="name">Username:</label>
                            <input id="name" type="text" th:field="*{username}" class="form-control"
                                   placeholder="User Name"/>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <div th:if="${#fields.hasErrors('username')}" class="alert alert-danger alert-dismissible"
                                 role="alert">
                                <div th:errors="*{username}">Username Error</div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>


                            <label for="email">Password:</label>
                            <input id="email" type="password" th:field="*{password}" class="form-control"
                                   placeholder="Password"/>
                            <div style="clear:both; display:block;height:10px;"></div>
                            <div th:if="${#fields.hasErrors('password')}" class="alert alert-danger alert-dismissible"
                                 role="alert">
                                <div th:errors="*{password}">Password Error</div>
                            </div>
                            <div style="clear:both; display:block;height:10px;"></div>

                            <a th:href="@{/login}" class="btn btn-danger pull-left">Cancel</a>&nbsp; &nbsp;
                            <input type="submit" class="btn btn-success pull-right" value="Register"/>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>